
  <div class="row">
      <div class="col-md-11 text-left">
        <img *ngIf="subreddit.data.banner_img"  [src]="subreddit.data.banner_img"  height="130" width="800"  >  
        <h3 class="text-center">
             {{subreddit.data.header_title}}
        </h3>
        <h4 *ngIf="subreddit.data.description">
            Description
        </h4>
          <p class="descripcion">
            {{subreddit.data.description}}
          </p>
        <h4  *ngIf="subreddit.data.submit_text">
          Submission text
        </h4>
        <p class="descripcion">
            {{subreddit.data.submit_text}}
        </p>

        <h4>
            5 Most active comments
        </h4>

        <ul class="list-group"  >
            <div *ngFor="let comment of comments ; let i=index">
                <li *ngIf="i<5" class="list-group-item">
                
                    <h5>
                        <b>
                            {{comment.data.title}}
                        </b>
                    </h5>   
                    <p>
                        {{comment.data.selftext}}
                    </p>
                    

                    <div class="row">
                        <div class="col-md-8">
                            <a [href]="comment.data.url">  {{comment.data.url}}</a>
                        
                        </div>
                        <div class="col-md-4" *ngIf="ValidURL(comment.data.thumbnail) " >
                                <img [src]="comment.data.thumbnail"  height="80" width="130" >  
                        </div>
                    </div>
                        
                </li>
            </div>
            
            
        </ul>  

      </div>


      <div class="col-md-1 text-center">
      </div>
  </div>
      